@import '../../style/App.scss';

.projects {
  background-color: $light-color;
  padding: 10px 0;
  color: white;
  background-color: rgb(27, 26, 26);


  .project_div{
    width: 95%;
    margin: 2% auto;
    border: 2px solid #FFE600;

  }

  .my-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;

  }
  .mint__gallery {
    background-clip: padding-box;
  }
   
  
  .mint__gallery > div { 
    margin-bottom: 30px;
  }
}

.more-project-div{
  margin: 25% 30%;

   .more-project-btn{
    background-color: #FFE600;
    border-radius: 10px;
    padding: 5% 10%;
    
     .MuiSvgIcon-root{
      width: 3em;
      height: 3em;
     }
     .action-button-title{
       font-size: 2rem;
     }
   }
}

@media screen and (max-width: 990px) {
  #projects { 
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .project_div{
    width: 90%;
  }

  .more-project-div{
    margin: 15% 15%;
  
     .more-project-btn{
      padding: 2% 10%;

       .MuiSvgIcon-root{
        width: 2.5em;
        height: 2.5em;
       }
       .action-button-title{
         font-size: 2rem;
       }
     }
  }

}