@import '../../style/App.scss';

.projects {
  background-color: $light-color;
  padding: 10px 0;
  color: white;
  background-color: rgb(27, 26, 26);


  .project_div{
    width: 75%;
    margin: 3% auto;
    border: 2px solid #FFE600;

  }

  .my-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;

  }
  .mint__gallery {
    background-clip: padding-box;
  }
   
  
  .mint__gallery > div { 
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 990px) {
  #projects { 
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .project_div{
    width: 90%;
  }

}