@import '../../style/App.scss';

.item_info {
  max-width: 370px;
  height: 420px;
  margin: 0 auto;
  margin-top: 60px;
  position: relative;
  border: 4px solid $light-color;
  padding: 10%;
  margin-bottom: 60px;

  h4 {
    padding-bottom: 20px;
    text-align: center;
  } 
  h4:hover {
    color: $main-color;
    transition: 0.3s ease;
  }
  p {
    padding-bottom: 20px;
  }
  

}